nav{
  min-height: 5vw;
  background-color:white;
  width: 100%;
}

.outter{
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-style: oblique;
  font-weight: 700;
  font-size: larger;
}

.inner{
  list-style: none;
}

Link{
  text-decoration: none !important;
}